<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <multipart-config>
        <!-- Specify the location for temporary storage of uploaded files -->
        <location>/path/to/temporary/storage</location>
        <!-- Specify the maximum size allowed for uploaded files -->
        <max-file-size>104857600</max-file-size>
        <!-- 10 MB in bytes -->
        <!-- Specify the maximum size allowed for the entire request -->
        <max-request-size>104805760</max-request-size>
        <!-- Specify the size threshold at which items will be written to disk -->
        <file-size-threshold>1000</file-size-threshold>
    </multipart-config>
    <Connector connectionTimeout="20000" maxPostSize="1048576" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpensesServlet</servlet-name>
        <servlet-class>AddExpensesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpensesServlet</servlet-name>
        <url-pattern>/AddExpensesServlet</url-pattern>
    </servlet-mapping>
 

    <!-- Map SignUpServlet to a URL pattern -->
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- Define servlet for UpdateExpenseServlet -->
    <servlet>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <servlet-class>com.example.UpdateExpenseServlet</servlet-class>
    </servlet>

    <!-- Map UpdateExpenseServlet to a URL pattern -->
    <servlet-mapping>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <url-pattern>/updateExpense</url-pattern>
    </servlet-mapping>

</web-app>
